.input-container {
  max-width: 640px;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem;
  background: #eee;
  border-radius: 1rem;
  box-shadow: 0 10px 30px #bbb;
  box-sizing: border-box;
}

.input-container h3 {
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

/* ===== Wrapper ===== */
.input-courses {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* ===== Rows ===== */
.row {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
}

.top-row {
  grid-template-columns: 1fr auto;
  align-items: center;
}

.select-row {
  grid-template-columns: 1fr;
}

/* ===== Inputs ===== */
input,
select {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fafafa;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
  border-color: #035c67;
  box-shadow: 0 0 0 3px rgb(3, 92, 103, 0.2);
}

/* ===== Checkbox ===== */
.extended {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  color: #035c67;
  background: #f0f8f8;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background 0.2s,
    transform 0.1s;
}

.extended:hover {
  background: #e0f2f2;
  transform: translateY(-1px);
}

.extended input {
  width: 20px;
  height: 20px;
  accent-color: #035c67;
  cursor: pointer;
}

/* ===== Button ===== */
button {
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: #ffb71b;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition:
    transform 0.1s,
    box-shadow 0.1s;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgb(255, 183, 27, 0.1);
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}

/* BLOG LINK */
.blog-redirect {
  padding: 20px;
  text-align: center;
}

.blog-redirect a {
  color: #035c67;
}

/* RESPONSIVE */

/* iPad */
@media (min-width: 601px) and (max-width: 1024px) {
  .input-container {
    width: 80%;
    margin: 1.5rem auto;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .input-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
