.footer {
    /* width: 100%; */
    position: relative; /* Håller den nära botten men inte fast */
    background-color: #015b62; /* Mörkblå bakgrund */
    color: white;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 8px solid gold;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 15px;
  }
  
  .footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid gold;
    display: inline-block;
    padding-bottom: 5px;
   
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer li {
    margin: 5px 0;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .footer li:hover {
    color: yellow;
  }
  
  .footer a {
    color: white;
  }
  
  